<div class="md:flex md:h-screen overflow-hidden">

    <!-- Sidebar -->
    <div
        class="sticky bg-gray-300 top-0 h-auto md:h-screen overflow-y-auto p-4 md:w-64 w-full shadow md:shadow-none z-10">
        <h2 class="text-xl font-semibold  mb-4">Add Field</h2>

        <!-- Responsive Grid for Buttons -->
        <div class="grid grid-cols-2 sm:grid-cols-3 md:block gap-1">
            <ng-container *ngFor="let type of fieldTypes">
                <button
                    class="cursor-pointer mb-2 w-full text-start bg-gray-600 hover:bg-gray-800 text-white text-sm px-3 py-1.5 rounded transition"
                    (click)="addField(type)">
                    <span class="me-1" [innerHTML]="type.icon"></span>
                    {{ type.label }}
                </button>
            </ng-container>
            <button
                class="cursor-pointer w-full mb-2 bg-gray-950 hover:bg-gray-800 text-white text-sm px-3 py-1.5 rounded  transition"
                (click)="generateFormHtml()">
                Generate Form Code
            </button>
        </div>

        <!-- Generate Button -->

    </div>


    <!-- Main Content -->
    <div class="flex-1  p-4 overflow-auto scrollbar-hide">
        <div class="flex items-center mb-2 justify-between">
            <h2 class="text-xl font-semibold  text-gray-700">Form Builder Preview</h2>
            <button *ngIf="fields.length>0" (click)="clear()"
                class="cursor-pointer  bg-red-800 hover:bg-red-600 text-white text-xs px-3 py-1.5 rounded transition">Clear
                Form</button>
        </div>

        <form cdkDropList class="grid grid-cols-1 md:grid-cols-2 gap-4">
            <div *ngFor="let field of fields;let i=index" [ngClass]="{
                'md:col-span-2': field.width === 'full',
                'md:col-span-1': field.width === 'half'
              }" class="border border-gray-300 bg-white p-4 rounded-lg shadow-sm relative transition hover:shadow-md">
                <div class="flex justify-between items-start">
                    <div class="flex gap-2 items-center">
                        <label class="text-sm ms-2 text-gray-700 font-medium">
                            {{ field.label }}
                            <span *ngIf="field.required" class="text-red-600">*</span>
                        </label>
                    </div>
                    <div class="flex gap-3 ">
                        <button type="button" (click)="moveFieldUp(i)" [disabled]="i === 0"
                            class="text-sm text-gray-700 cursor-pointer hover:text-gray-800 ">
                            <i class="fa-solid  fa-arrow-up"></i>
                        </button>
                        <button type="button" (click)="moveFieldDown(i)" [disabled]="i === fields.length - 1"
                            class="text-sm text-gray-700 cursor-pointer hover:text-gray-800">
                            <i class="fa-solid  fa-arrow-down"></i>
                        </button>
                        <button type="button" class="cursor-pointer text-blue-600 text-xs hover:underline"
                            (click)="toggleEdit(field.id)">
                            {{ field.showEdit ? 'Save' : 'Edit' }}
                        </button>
                        <button type="button" class=" cursor-pointer text-red-500 text-xs hover:underline"
                            (click)="removeField(field.id)">
                            Remove
                        </button>
                    </div>
                </div>


                <ng-container [ngSwitch]="field.type">
                    <!-- Textarea -->
                    <ng-container *ngSwitchCase="'textarea'">
                        <textarea [placeholder]="field.placeholder" [(ngModel)]="field.value" [name]="field.id"
                            #textField="ngModel" [required]="field.required ?? false"
                            class="w-full px-4 py-2 border border-gray-300 rounded-lg text-sm text-gray-800 placeholder:text-gray-400 focus:outline-none focus:ring-2 focus:ring-blue-500"></textarea>
                        <div *ngIf="textField.invalid && textField.touched" class="text-xs text-red-600 mt-1">
                            <div *ngIf="textField.errors?.['required']">
                                {{ field.label }} is required
                            </div>
                        </div>
                    </ng-container>

                    <!-- Radio -->
                    <ng-container *ngSwitchCase="'radio'">
                        <div class="space-y-1 mt-2">
                            <div *ngFor="let option of field.options" class="flex items-center gap-2">
                                <input [id]="field.id + '-' + option" type="radio" [(ngModel)]="field.value"
                                    [name]="field.id" [value]="option" [required]="field.required ?? false"
                                    (change)="onRadioChange(option, $event, field)" #radioField="ngModel" />
                                <label [for]="field.id + '-' + option" class="text-sm">{{ option }}</label>
                            </div>
                            <div *ngIf="field.required && !field.value" class="text-xs text-red-600 mt-1">
                                {{ field.label }} is required
                            </div>
                        </div>
                    </ng-container>

                    <!-- Checkbox -->
                    <ng-container *ngSwitchCase="'checkbox'">
                        <div class="space-y-1 mt-2">
                            <div *ngFor="let option of field.options" class="flex items-center gap-2">
                                <input type="checkbox" [id]="field.id + '-' + option"
                                    (change)="onCheckboxChange(option, $event, field)" [name]="field.id"
                                    [checked]="field.value?.includes(option)" />
                                <label [for]="field.id + '-' + option" class="text-sm">{{ option }}</label>
                            </div>
                            <div *ngIf="field.required && (field.value?.length ?? 0) !== field.options?.length"
                                class="text-xs text-red-600 mt-1">
                                {{ field.label }} is required
                            </div>

                        </div>
                    </ng-container>

                    <ng-container *ngSwitchCase="'select'">
                        <select [(ngModel)]="field.value" [name]="field.id" [required]="field.required ?? false"
                            #selectField="ngModel"
                            class="w-full px-4 py-2 border border-gray-300 rounded-lg text-sm text-gray-800 placeholder:text-gray-400 focus:outline-none focus:ring-2 focus:ring-blue-500">
                            <option [ngValue]="undefined" [disabled]="field.required">Select an option</option>
                            <option *ngFor="let option of field.options" [ngValue]="option">
                                {{ option }}
                            </option>
                        </select>
                        <div *ngIf="field.required && selectField.invalid && selectField.touched"
                            class="text-xs text-red-600 mt-1">
                            {{ field.label }} is required
                        </div>
                    </ng-container>


                    <!-- Default: Input (text, email, password) -->
                    <ng-container *ngSwitchDefault>
                        <div class="mt-2">
                            <input [type]="field.type" [placeholder]="field.placeholder" [(ngModel)]="field.value"
                                [name]="field.id" #textField="ngModel" [required]="field.required ?? false"
                                [email]="field.type === 'email'" [minlength]="field.minLength || null"
                                class="w-full px-4 py-2 border border-gray-300 rounded-lg text-sm text-gray-800 placeholder:text-gray-400 focus:outline-none focus:ring-2 focus:ring-blue-500" />

                            <div *ngIf="textField.invalid && textField.touched" class="text-xs text-red-600 mt-1">
                                <div *ngIf="textField.errors?.['required']">
                                    {{ field.label }} is required
                                </div>
                                <div *ngIf="field.type === 'email' && textField.errors?.['email']">
                                    Enter a valid {{ field.label }}.
                                </div>
                                <div *ngIf="field.type === 'password' && textField.errors?.['minlength']">
                                    Minimum 6 characters.
                                </div>
                            </div>
                        </div>
                    </ng-container>
                </ng-container>


                <div *ngIf="field.showEdit" class="mt-4 border-t pt-3 flex flex-col md:flex-row gap-3">
                    <div class="flex align-middle gap-2" [ngClass]="{
                        'flex-row': field.width === 'full',
                        'md:flex-col': field.width === 'half'
                      }">
                        <div class="inline-flex items-center gap-2 flex-row text-xs ">
                            <button type="button" class="btn px-2 py-1  border   border-gray-300 rounded"
                                [class.bg-emerald-600]="field.width === 'half'"
                                (click)="field.width = 'half'">1/2</button>
                            <button type="button" class="px-2 py-1  border  border-gray-300 rounded"
                                [class.bg-emerald-600]="field.width === 'full'"
                                (click)="field.width = 'full'">Full</button>
                        </div>

                        <label class="inline-flex items-center cursor-pointer">
                            <input type="checkbox" class="sr-only peer" [(ngModel)]="field.required"
                                [name]="'required_'+field.id" />
                            <div
                                class="relative w-10 h-5 bg-gray-200 rounded-full peer-focus:ring-2 peer-focus:ring-blue-300 dark:bg-gray-700 dark:peer-checked:bg-blue-600 after:content-[''] after:absolute after:top-[2px] after:left-[2px] after:bg-white after:border after:border-gray-300 after:rounded-full after:h-4 after:w-4 after:transition-transform peer-checked:after:translate-x-5 dark:after:border-gray-600">
                            </div>
                            <span class="ms-3 text text-gray-900">Required</span>
                        </label>
                    </div>

                    <div class=" flex gap-2" [ngClass]="{
                        'md:flex-row': field.width === 'full',
                        'md:flex-col': field.width === 'half'
                      }">
                        <label>
                            <input type="text" [(ngModel)]="field.label" [name]="'label_'+field.id" #label='ngModel'
                                class="w-full text-sm p-2 border border-gray-300 rounded bg-gray-100 text-gray-800 placeholder-gray-400 focus:outline-none focus:ring focus:ring-blue-500"
                                placeholder="Label" [ngClass]="{'border-red-600 focus:ring-0':!field.label}" />
                        </label>
    
                        <input *ngIf="field.type !== 'checkbox' && field.type !== 'radio' && field.type !== 'select'"
                            type="text" [(ngModel)]="field.placeholder" [name]="'placeholder_'+field.id"
                            class="w-full text-sm p-2 border border-gray-300 rounded bg-gray-100 text-gray-800 placeholder-gray-400 focus:outline-none focus:ring focus:ring-blue-500"
                            placeholder="Placeholder" />
    
                        <input *ngIf="field.type === 'checkbox' || field.type === 'radio' || field.type === 'select'"
                            [(ngModel)]="field.optionText" [name]="'options_'+field.id" (change)="updateOptions(field.id)"
                            class="w-full text-sm p-2 border border-gray-300 rounded bg-gray-100 text-gray-800 placeholder-gray-400 focus:outline-none focus:ring focus:ring-blue-500"
                            placeholder="Options (e.g. Yes,No)" />
                    </div>
                </div>

            </div>
        </form>



        <div class="col-full mt-2 ">
            <p *ngIf="fields.length==0">No Field!</p>
            <button *ngIf="fields.length>0" type="button"
                class="cursor-pointer   bg-blue-800 hover:bg-blue-600 text-white text-xs px-3 py-1.5 rounded transition ">Submit</button>
        </div>



        <!-- generate html and css code -->
        <div class="mt-6">
            <div *ngIf="generatedHtml" class="mt-4">
                <div class="flex items-center mb-2 justify-between">
                    <h3 class="text-lg font-semibold mb-2">Generated HTML and CSS</h3>
                    <button (click)="close()"
                        class="cursor-pointer border px-3 py-1 text-red-800  border-red-800 hover:bg-red-600 hover:text-red-200  text-xs rounded transition">Close</button>
                </div>
                <div class="grid grid-cols-1 md:grid-cols-2 gap-4">

                    <!-- HTML Section -->
                    <div class="relative">
                        <button
                            class="absolute top-2 right-4 cursor-pointer text-gray-500 hover:text-gray-700 text-s px-2 py-1 z-10"
                            (click)="copyText(generatedHtml)">
                            <i class="fa-solid fa-copy"></i>
                        </button>
                        <textarea
                            class="w-full h-100 resize-none text-sm p-3 border border-gray-300 rounded bg-white text-gray-800"
                            readonly>{{ generatedHtml }}</textarea>
                    </div>

                    <!-- CSS Section -->
                    <div class="relative">
                        <button
                            class="absolute top-2 right-4 cursor-pointer text-gray-500 hover:text-gray-700 text-s px-2 py-1 z-10"
                            (click)="copyText(generatedCss)">
                            <i class="fa-solid fa-copy"></i>
                        </button>
                        <textarea
                            class="w-full h-100 resize-none text-sm p-3 border border-gray-300 rounded bg-white text-gray-800"
                            readonly>{{ generatedCss }}</textarea>
                    </div>

                </div>
            </div>
        </div>


    </div>
</div>