<header class="bg-gray-400 border-b">
    <nav class="mx-auto flex max-w-7xl items-center justify-between p-2 lg:px-2" aria-label="Global">
        <div class="flex lg:flex-1">
            <a class="-m-1.5 p-1.5">
                <span class="text-xl font-semibold">Form<span class="text-white">Builder</span></span>
                <!-- <img class="h-8 w-auto"
                    src="https://tailwindcss.com/plus-assets/img/logos/mark.svg?color=indigo&shade=600" alt=""> -->
            </a>
        </div>
        <!-- <div class="hidden lg:flex lg:flex-1 lg:justify-end">
            <a class="text-sm/6 font-semibold text-gray-900"><span aria-hidden="true">&rarr;</span></a>
        </div> -->
    </nav>
</header>
<!-- <div class="flex justify-center items-start p-6 gap-6 h-screen bg-gray-100">
  <section class="w-1/2 max-w-xl bg-white p-6 rounded-2xl shadow-lg border border-gray-200">
    <h2 class="text-xl font-semibold mb-4 text-blue-700">🛠️ Build Your Form</h2>
    <app-form-builder-page></app-form-builder-page>
  </section>

  <section class="w-1/2 max-w-xl bg-white p-6 rounded-2xl shadow-lg border border-gray-200">
    <h2 class="text-xl font-semibold mb-4 text-green-700">👁️ Preview</h2>
    <app-form-previewpage></app-form-previewpage>
  </section>
</div> -->


<div class="">
    <section class="">
        <app-form-builder-page></app-form-builder-page>

    </section>
</div>